.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 20px;
  opacity: 0; /* Start with the logo hidden */
  transition: opacity 1s ease-in-out; /* Smooth transition for the fade-in */
}

.fade-in {
  opacity: 1; /* Fade in to full opacity */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Ping-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #61dafb;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.Ping-button:hover {
  transform: scale(1.2);
  background-color: green;
  color: white;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2rem;
}

.App-link:hover {
  text-decoration: underline;
}
